<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/stylesheet.css" type="text/css">
    <script type="text/javascript" src="/assets/script.js">
    </script>
    <title>SJU Courses</title>
  </head>
  <body>
    <h2>St. John's University - Division of Computer Science, Mathematics, and Science</h2>
    <div class="searchBar">
      <input id='searchBar' type="text" value="">
      <input id='searchButton' type="button" name="" value="Search">
    </div>

    <div class="allCourses">
      <% data.forEach(function(course){ %>
        <ul> <strong><%= course.title %> </strong>
          <li><%= course.course_code %></li>
          <li><%= course.instructor %></li>
          <li><%= course.day %></li>
          <li><%= course.seats_available %></li>
          <li><%= course.type %></li>
        </ul>
      <% }) %>

    </div>

  </body>
</html>
